<section class="wrapper style1">
    <div class="inner">
        <div class="flex flex-2">

            <div class="col col1">
                <div class="image round fit">
                    <a href="generic.html" class="link"><img src="/assets/images/pic01.jpg" alt="" /></a>
                </div>
            </div>

            <div class="col col2">
                <h1>About us</h1>
                <p>Founded in 2007 by Jayden Sissing, Risk and Elimination Safety
                    Services (RESS) has acquired extensive experience in Engineering,
                    Health &amp; Safety, and Training. We offer a service that keeps your
                    overheads low while providing you with the expertise you need 
                    in order to stay 100% compliant and 100% satisfied .</p>
                <h2>Vision Statement</h2>
                <p>RESS’s aim is to impel the highest standard of client, consumer and learner satisfaction in all our ventures!</p>
            </div>

        </div>
    </div>
</section>

<section class="wrapper style2">
    <div class="inner">
        <div class="flex flex-2">
            <div class="col col2">
                <h2>Mission Statement</h2>
                <p>Professional services in the fields of Health, Safety and
                        Environmental Management, Health &amp; Safety Training and
                        Engineering. Risk Elimination and Safety Solutions is a company
                        dedicated to providing the absolute best RESS’s Niche is the
                        ability to provide a holistic service From Health &amp; Safety, Training
                        through to Engineering all under one umbrella for our clients.</p>
                <h2>Risk Elimination &amp; Safety Solutions</h2>
                <p>Risk Elimination &amp; Safety Solutions (RESS) is a 100%, Level 1,
                        B-BBEE Compliant Health, Safety &amp; Environmental Consultancy
                        company that was founded in 2007 and has acquired extensive
                        experience in Occupational Health &amp; Safety as well as
                        Construction HSE, with a Nebosh General, Nebosh Construction
                        and Nebosh Environmental Qualification awarded in the UK.</p>
                <p>RESS Consultancy specialises in providing customised services
                        based on the safety, health and environmental needs of
                        organisations, primarily in South Africa.
                        
                        Our competitive fee structure reflects our commitment to providing
                        customer driven service, and supports our slogan:</p>

            </div>
            <div class="col col1 first">
                <div class="image round fit">
                    <a href="generic.html" class="link"><img src="/assets/images/pic02.jpg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wrapper style1">
    <div class="inner">
        <div class="flex flex-2 align-center">

            <h3>Safety, it&#39;s not what it costs but what it saves!</h3>

        </div>
    </div>
</section>
