<header id="header" class="reveal">
	<div class="logo">
		<a routerLink="/">
			<img src="/assets/images/logo_ress.gif" width="200" title="Ress">
		</a>
	</div>
	<a href="#" (click)="active = !active; false;">Menu</a>
</header>

<nav id="menu" [ngClass]="{'visible': active}">
	<ul class="links" (click)="active = !active; false;">
		<li>
			<a routerLink="/">Home</a>
		</li>
		<li>
			<a routerLink="shop">Shop</a>
		</li>
		<li>
			<a routerLink="other">Other</a>
		</li>
	</ul>
	<a href="#" (click)="active = !active; false;" class="close"></a>
</nav>

<main id="main">

	<router-outlet></router-outlet>
	<pre>{{ dogs | json}}</pre>

</main>

<footer id="footer">
	<section class="copyright">
		<ul class="icons">
			<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
		</ul>
		<p>&copy; RESS. All rights reserved.</p>
	</section>
</footer>
