<section id="banner">
    <div class="inner">
        <header>
            <h1>Ress Home</h1>
            <p style="margin-bottom: 0;">ENGINEERING | HEALTH &amp; SAFETY | TRAINING</p>
            <p>Offering a turnkey service in Engineering, Health &amp; Safety and Training For all industries</p>
        </header>
    </div>
</section>

<section class="wrapper style2">
    <div class="inner">
        <div class="flex flex-2">
            <div class="col col2">
                <h3>Safety, it’s not what it costs but what it saves!</h3>
                <p>Business operations are loaded with all kinds of possible accidents and incidents that can damage a person’s health, your company and your profitability.</p>
                <p>Whether it’s through the direct or indirect use of machines and construction plant equipment, exposure to toxic materials, electricity supplies, tripping or dropping hazards, the list goes on and on and the risks, across the board, are significant.</p>
            </div>
            <div class="col col1 first">
                <div class="image round fit">
                    <a href="generic.html" class="link"><img src="/assets/images/pic02.jpg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wrapper style1">
    <div class="inner">
        <header class="align-center">
            <h2>Our Services:</h2>
            <p>We offer the following Risk Elimination &amp; Safety Solutions Services:</p>
        </header>
        <div class="flex flex-3">
            <div class="col align-center">
                <div class="image round fit">
                    <img src="/assets/images/pic03.jpg" alt="" />
                </div>
                <p>Safety/Risk Assessment</p>
                <a routerLink="service" class="button">Learn More</a>
            </div>
            <div class="col align-center">
                <div class="image round fit">
                    <img src="/assets/images/pic05.jpg" alt="" />
                </div>
                <p>Health & Safety Risk Management</p>
                <a routerLink="service" class="button">Learn More</a>
            </div>
            <div class="col align-center">
                <div class="image round fit">
                    <img src="/assets/images/pic04.jpg" alt="" />
                </div>
                <p>Health & Safety Training</p>
                <a routerLink="service" class="button">Learn More</a>
            </div>
        </div>
    </div>
</section>